---
import { MainAvatar } from '@/components/mainavatar'
import BaseLayout from '@/layouts/BaseLayout.astro'

const BLUR_FADE_DELAY = 0.04

import { Content as ContactInfo } from '@/contact.md'
import { frontmatter as DATA, Content as Description } from '@/description.md'
import { Content as Summary } from '@/summary.md'

import Albums from '@/components/Albums.astro'
import BlogPostGrid from '@/components/BlogPostGrid.astro'
import Experience from '@/components/Experience.astro'
import LiveShows from '@/components/LiveShows.astro'
import Publications from '@/components/Publications.astro'
import Image from 'astro/components/Image.astro'

function incrementCounter() {
  let x = 1
  return () => {
    x += 1
    return x
  }
}

const increment = incrementCounter()
---

<BaseLayout
  title="Alessandro Cheli"
  description="Research and Development Engineer, Producer."
>
  <section id="hero">
    <div class="mx-auto w-full max-w-2xl space-y-8">
      <div
        class="flex flex-col items-center justify-between gap-2 sm:flex-row-reverse"
      >
        <Image
          class="animate-blur h-32 w-32 rounded-full"
          src={DATA.avatarUrl}
          alt={DATA.name}
          width={200}
          height={200}
        />
        <div class="flex flex-1 flex-col space-y-1.5">
          <h1
            class="animate-blur text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none"
          >
            {DATA.name}
          </h1>

          <span class="animate-blur max-w-[600px] md:text-xl"
            ><Description /></span
          >
        </div>
      </div>
    </div>
  </section>
  <section id="about" class="mx-auto flex w-full max-w-2xl flex-col">
    <h2 class="animate-blur my-4 text-xl font-bold">About</h2>

    <span
      class="animate-blur prose max-w-full text-pretty font-sans text-sm text-muted-foreground dark:prose-invert"
      ><Summary /></span
    >
  </section>

  <section id="contact">
    <div
      class="grid w-full items-center justify-center gap-4 px-4 py-12 text-center md:px-6"
    >
      <div class="animate-blur space-y-3">
        <div
          class="inline-block rounded-lg bg-foreground px-3 py-1 text-sm text-background"
        >
          Contact
        </div>
        <h2 class="text-3xl font-bold tracking-tighter sm:text-3xl">
          Get in Touch
        </h2>
        <p
          class="mx-auto max-w-[600px] text-muted-foreground md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
        >
          <span><ContactInfo /></span>
        </p>
      </div>
    </div>
  </section>

  <section
    id="publications"
    class="animate-blur mx-auto flex w-full max-w-2xl flex-col"
  >
    <h2 class="my-4 text-xl font-bold">Publications</h2>
    <Publications />
  </section>

  <section
    id="music"
    class="animate-blur mx-auto flex w-full max-w-2xl flex-col"
  >
    <h2 class="my-4 text-xl font-bold">Albums</h2>
    <Albums />
  </section>

  <section
    id="liveshows"
    class="animate-blur mx-auto flex w-full max-w-2xl flex-col"
  >
    <h2 class="my-4 text-xl font-bold">Live Shows & Gigs</h2>
    <LiveShows />
  </section>

  <section
    id="experience"
    class="animate-blur mx-auto flex w-full max-w-2xl flex-col"
  >
    <h2 class="my-4 text-xl font-bold">Experience</h2>
    <Experience />
  </section>

  <section
    id="blog"
    class="animate-blur mx-auto flex w-full max-w-2xl flex-col"
  >
    <a href="/blog">
      <h2 class="my-4 text-xl font-bold">Blog Posts</h2>
    </a>
    <BlogPostGrid limit={4} />
  </section>
</BaseLayout>
