---
import csv from 'csvtojson'
import * as fs from 'fs'

// const data = await Astro.glob('../citations.csv')
const fileContent = await fs.promises.readFile('src/citations.csv')
const data = fileContent.toString()
// console.log(data)

interface Article {
  Authors: string
  Title: string
  Publication?: string
  Volume?: string
  Number?: string
  Pages?: string
  Year: number
  Publisher?: string
}

const articles = await csv().fromString(data)

// console.log(articles)

const groupedArticles = articles
  .sort((a, b) => parseInt(b.Year) - parseInt(a.Year))
  .reduce((acc, curr) => {
    const key = curr.fieldName
    acc[key] = acc[key] || []
    acc[key].push(curr)
    return acc
  }, {})
---

<div class="flex flex-col gap-y-4">
  <span>
    See my <a
      class="underline"
      href="https://scholar.google.com/citations?user=zahTNtAAAAAJ&hl=en"
      >Google Scholar</a
    > profile.
  </span>
  <ul class="list-disc">
    {
      articles.map((article) => (
        <li>
          <b>{article.Year}</b> - {article.Title} <br />
          <span class="text-sm text-muted-foreground">{article.Authors}</span>
          <span class="text-sm text-muted-foreground">
            {article.Publication}
          </span>
          ,
        </li>
      ))
    }
  </ul>
</div>
