---
import BlurFade from './magicui/blur-fade'
import FlipText from './magicui/flip-text'
---

<div class="flex w-full flex-col items-center gap-4 py-8">
  <h1
    class="text-4xl font-bold tracking-[-0.02em] text-black dark:text-white md:text-7xl md:leading-[5rem]"
  >
    Contact Us
  </h1>

  <p class="my-16 text-center text-xl">
    If you wish to book a session with us, personalize a private masterclass,
    request a quote or simply have a chat with us, we are happy to organize an
    in-person or remote meeting with you as soon as possible. Please send us an
    e-mail at
  </p>

  <BlurFade delay={0.05} inView client:load>
    <h1 class="text-2xl font-bold">
      info@<span class="hidden">aaa</span>680.studio
    </h1>
  </BlurFade>

  <p class="my-16 text-xl"></p>
</div>
