---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import dayjs from 'dayjs'
import Prose from './Prose.astro'
import { Separator } from '@/components/ui/separator'

const shows = await getCollection('liveshows')
const showsWithContent = await Promise.all(
  shows.map(async (x) => {
    return { ...x, Content: (await x.render()).Content }
  }),
)
---

<div>
  <ul class="flex list-none flex-col gap-y-4 sm:list-disc">
    {
      showsWithContent.map((s) => {
        return (
          <li>
            <span class="text-sm font-semibold">
              {dayjs(s.data.date).format('MMMM YYYY')} -
            </span>
            <a class="mr-5 text-sm underline" href={s.data.href}>
              {s.data.title}
            </a>
            <a class="text-sm text-muted-foreground" href={s.data.locationUrl}>
              {s.data.location}
            </a>
            <span class="text-sm text-muted-foreground">{<s.Content />}</span>
          </li>
        )
      })
    }
  </ul>
</div>
